@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    width: 100vw;
    height: 100vh;
}

#navbar {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}